.add-button{
    background-color:#003F74;
    border-radius:10px;
    font-family: Promptlight;
    font-size :20px;
    margin-top: 1%;
    margin-left: 7%;
}

.parkName{
    font-family: Promptlight;
    font-size: 20px;
    
}

.save{
    background-color: #003F74;
    border-radius: 10px;

}

.cancel{
    background-color: #8F0000;
    border-radius: 10px;
    
}

.latitude{
    font-family: Promptlight;
    font-size: 16px;
}

.longitude{
    font-family: Promptlight;
    font-size: 16px;
}

.form-status{
    font-family: Promptlight;
    font-size:16px;
}

.park-spot{
    font-family: Promptlight;
    font-size:16px;
}



