.headerlabel {
    font-family: 'Promptlight';
    font-weight: 700px;
    font-size: 16px;
    margin-top: 13.5%;

   

}
.Dashboardrow{
    display: flex;
    flex-direction: row;
}
.Topic {
    display: flex;
    flex-direction: column;
}
.underlabel{
    font-family: 'Promptlight';
    color: #757575;
    margin-top: -7%;
    font-size: 16px;

}

@media screen and (max-width: 768px) {
    .headerlabel{
        font-size: 10px;
        margin-top: 25.5%;
        
    }
    .underlabel {
        font-size: 10px;
    }
    .Topic{
        margin-left: -5%;
    }
    .Dashboardrow {
        margin-left: -5%;
    }
}