.spaces {
  position: fixed;
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-left: 60%;
    margin-top: -1%
  
  
    
  
  }
  @media screen and (max-width: 768px) {
    .spaces{
      margin-left: 75%;
      margin-top: 2%;
    }
  }
