.headerlabelNoti{
    font-family: 'Promptlight';
    font-weight: 700px;
    font-size: 16px;
    margin-top: 10.5%;
    
       
    
}
.underlabelNoti{
    font-family: 'Promptlight';
    color: #757575;
    margin-top: -5%;
    font-size: 16px;
}
.Notirow{
    display: flex;
    flex-direction: row;
}