.headerlabelNoti{
    font-family: 'Promptlight';
    font-weight: 700px;
    font-size: 16px;
    margin-top: 10.5%;
    
       
    
}
.underlabelNoti{
    font-family: 'Promptlight';
    color: #757575;
    margin-top: -5%;
    font-size: 16px;
}
.Notirow{
    display: flex;
    flex-direction: row;
}
.shadowheader{
    box-shadow: 1px 3px 5px 0px rgba(128,120,120,0.59);
-webkit-box-shadow: 1px 3px 5px 0px rgba(128,120,120,0.59);
-moz-box-shadow: 1px 3px 5px 0px rgba(128,120,120,0.59);
}

.status1 {
    font-family: Promptlight;
    font-size: 14px;
    background-color:#C58E00;
    color:#fff;
    margin-top:5%;
}

.status2 {
    font-family: Promptlight;
    font-size:14px;
    background-color: #035397;
    color: #fff;
    margin-top:5%;
}

.header{
    margin-top:5%;
    font-size:20px;
    line-height:30px;
    margin-left:1%;
}

.card-status2{
    background-color:#035397;
    color:#fff;
    margin-top:5%;
    width:70%;
    height:50%;
}

.card-status1{
    background-color:#C58E00;
    color:#fff;
    margin-top:5%;
    width:70%;
    height:50%;
}
.Notitable{
    width:79.5%;
    height: 78%;
    margin-top: 5%;
    margin-left: 8%;
}
@media screen and (max-width: 768px) {
    .headerlabelNoti{
        font-size: 10px;
        margin-top: 20%;
        
    }
    .underlabelNoti {
        font-size: 10px;
    }
    .Topic{
        margin-left: -5%;
    }
    .Notirow {
        margin-left: -5%;
    }
}