.reportrow{
    display: flex;
    flex-direction: row;
}
.headerlabelreport{
    font-family: 'Promptlight';
    font-weight: 700px;
    font-size: 16px;
    margin-top: 10.5%;
    
}

.underlabelreport{
    font-family: 'Promptlight';
    color: #757575;
    margin-top: -5%;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .headerlabelreport{
        font-size: 10px;
        margin-top: 19%;
        
    }
    .underlabelreport {
        font-size: 10px;
    }
    .Topic{
        margin-left: -5%;
    }
    .reportrow {
        margin-left: -5%;
    }
}