
.has-search .form-control {
    padding-left: 2.375rem;
    width: 100%;
    
  }
  
  .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }
.searchs {
  margin-left: -50%;
  margin-top: "5%";
  width: 900px;
}

@media screen and (max-width: 768px) {
  .searchs {
    visibility: hidden;
    
    
  }
  
  
}